.main_section {
    display: flex;
}
.main_section_rectangle1 {
    display: flex;
    flex-direction: column;
    float: left;
    width: 39%;
    height: auto;
    margin-top: -90px;
    left: 0px;
    background: rgba(214, 198, 198, 0.62);
    z-index: -1;
}

.main_section_rectangle2 {
    float: left;
    margin-top: -90px;
    width: 61%;
    height: auto;
    z-index: -1;
}

.main_section_rectangle3{
    width: 75%;
    height: auto;
    align-items: center;
    margin-left: 11%;
    margin-top: 17%;
    z-index: -1;
}

.main_section_rectangle3_text{
    width: 50%;
    height: 40px;
    margin-top: -80%;
    margin-left: 32%;
    margin-right: 15%; 
    font-style: normal;
    text-align: right;
    color: #000000; 
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 50px;
}

.subtitle {
    font-weight: 500;
    font-size: 31px;
    line-height: 40px;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.main_section_rectangle4{
    display: flex;
    position: relative;
    float: top;
    width: 75%;
    height: 100px;
    margin-left: 11%;
    margin-top: 74.5%;
    z-index: -1;
    background: #D6C6C6;
    align-items: center;
}

.shop_now {
    margin-left: 26%;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    color: #000000;
}

.icon {
    align-self: center;
    margin-left: 4%;
}
