.product_container{
    display: flex;
    margin: 1%;
    width: 100%;
    /* background-color:aqua; */
}

.product_icon_arrow{
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 1.5%;
    align-items: left;
    cursor: pointer;
    visibility: hidden;
}

.product_icon_arrow.visible{
    opacity: 100;
    visibility: visible;
}