.upperSmallTextDark {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    text-transform: uppercase;

    color: #000000;
}

.upperMediumTextDark{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.upperLargeTextDark{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}

.mediumTextDark{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
}
.mediumTextDarkHeavy{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
}

.largeTextDark{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height */

    text-transform: capitalize;

    color: #000000;
}

.smallTextLight {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #6C6940;
    text-transform: capitalize;
}

.mediumTextLight{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #6C6940;
}

.mediumTextGrey {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;

    color: #B8B3B3
}

.smallTextWhite{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.mediumTextWhite{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.largeTextWhite{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.titleText {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
}

.titleTextHeavy{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
}
.underline {
    text-decoration-line: underline;
}