.filters_container {
    display: flex;
    align-items: center;
    width: 55%;
    margin-left: 21.5%;
    margin-top: 1.2%;
    justify-content: center;
}
.filters_icon_container:hover{
    cursor: pointer;
    text-decoration: underline;
}

.filters_icon_container {
    margin-left: 8%;
    justify-content: center;
    cursor: pointer;
}

.filters_icon_image_background {
    display: flex;
    width: 110px;
    background: rgba(207, 221, 249, 0.56);
    border-radius: 68px;
}

.filters_icon_image_background_selected{
    display: flex;
    width: 110px;
    background: rgba(55, 109, 216, 0.56);
    border-radius: 68px;
}


.filters_icon_image_background:hover {
    background: rgba(55, 109, 216, 0.56);
    cursor:pointer;
}

.filters_icon_image {
    padding: 25%;  
}

.filters_icon_text {
    width: 95px;
    height: 60px;
    margin-top: 3%;
    margin-left: 8%;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.filter_icon_selected_rect{
    align-self: center;
    margin-left: 22px;
    margin-right: 22px;
    height: 10px;
    border-radius: 18px;
    background: #8FADE9;
    margin-top: -10%;
}