.nav_container1 {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin-top: 2%;
  margin-left: 5%;
}
.nav_container2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: auto;
  align-items: center;
}

.nav_container2 > div {
  margin-right: 20px;
}

.selected_filters_text{
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.selected_text_cross{
    width: 15px;
    height: 15px;
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
}